<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="album.html" class="navbar-brand mx-4 mb-3">
            <h6 class="text-primary">
                </i>QUẢN LÝ CỬA HÀNG</h6>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" th:src="@{admin/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <!-- use active to backgound to white -->
            <a th:href="@{/admin/album}" class="nav-item nav-link"><i class="bi bi-journals me-2"></i>Albums</a>
            <a th:href="@{/admin/song}" class="nav-item nav-link"><i class="bi bi-music-note-beamed me-2"></i>Song</a>
            <a th:href="@{/admin/singer}" class="nav-item nav-link"><i class="bi bi-person-lines-fill me-2"></i>Singer</a>
            <a th:href="@{/admin/genre}" class="nav-item nav-link"><i class="fa fa-list-alt me-2"></i>Genre</a>
            <a th:href="@{/admin/user}" class="nav-item nav-link"><i class="fas fa-user me-2"></i>Users</a>
            <a th:href="@{/admin/order}" class="nav-item nav-link"><i class="fas fa-shopping-cart me-2"></i>Order</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->