<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/cart.css}">
    </head>

    <body>
        <div class="container main-section">
            <div class="row">
              <div class="col-lg-12 pb-2">
                <h4>Shoping Cart</h4>
              </div>
              <div class="col-lg-12 pl-3 pt-3">
                <table class="table table-hover border bg-white">
                  <thead>
                    <tr>
                      <th>Album</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="receipt: ${receipts}">
                      <td>
                        <div class="row">
                          <div class="col-lg-4 Product-img">
                            <img th:src="@{${'data:image/png;base64, '+receipt.thumbnail}}" alt="..." class="img-responsive" />
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="col-lg-8">
                        <h5 class="nomargin" th:text="${receipt.albumName}">GUYA</h5>
                      </div></td>
                      <td th:text="${receipt.price}"> 12,000 </td>
                      <td style="text-align: center" th:text="${receipt.quantity}">
                      </td>
                      <td th:text="${receipt.subtotal}">12,000</td>
                      <td class="actions" data-th="" style="width:10%;">
                        <a th:href="@{/home/cart/remove/{id}(id=${receipt.receiptID})}"><button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><a th:href="@{/}" class="btn btn-info text-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                      <td colspan="2" class="hidden-xs"></td>
                      <td class="hidden-xs text-center" style="width:10%;" th:object="${total}" th:text="'Total: ' + ${total}"><strong>Total : 47,000</strong></td>
                      <td><a th:href="@{/home/cart/checkout}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
    </body>
</html>