<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Quản lý cửa hàng bán nhạc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" th:href="@{/admin/img/favicon.ico}">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>


    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" th:href="@{/admin/lib/owlcarousel/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{/admin/css/style.css}">

    <!-- Material Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<th:block th:include="/admin/nav"></th:block>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
         id="spinner">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <div id="nav"></div>


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a class="navbar-brand d-flex d-lg-none me-4" href="album.html">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a class="sidebar-toggler flex-shrink-0" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" placeholder="Search" type="search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <img alt="" class="rounded-circle" src="img/user.jpg"
                                     style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <img alt="" class="rounded-circle" src="img/user.jpg"
                                     style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">
                            <div class="d-flex align-items-center">
                                <img alt="" class="rounded-circle" src="img/user.jpg"
                                     style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item text-center" href="#">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notification</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item" href="#">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item text-center" href="#">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <img alt="" class="rounded-circle me-lg-2" style="width: 40px; height: 40px;"
                             th:src="@{/admin/img/user.jpg}">
                        <span class="d-none d-lg-inline-flex" th:text="${session.username}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Recent Student in/out Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách người dùng</h6>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td th:text="${user.userID}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <!-- <a class="btn btn-sm btn-primary" href=""><i class="bi bi-info-circle"></i></a> -->
                                <a class="btn btn-sm btn-warning"
                                   th:href="@{/admin/users/edit/{id}(id=${user.userID})}"><i
                                        class="bi bi-pencil-fill"></i></a>
                                <a class="btn btn-sm btn-danger delete" data-bs-target="#deleteModal"
                                   data-bs-toggle="modal"
                                   data-toggle="modal" th:data-user-id="${user.userID}"
                                   th:href="@{#deleteModal}"><i class="bi bi-trash"></i></a>
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>

            </div>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <nav aria-label="...">

                    <div class="clearfix" th:if="${totalPages > 0}">
                        <ul class="pagination">
                            <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link" th:href="@{/admin/user?page=} + ${currentPage - 1}">Previous</a>
                            </li>
                            <li th:class="${currentPage == page ? 'page-item active' : 'page-item'}"
                                th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                                <a class="page-link" th:href="@{/admin/user?page=} + ${page}"
                                   th:text="${page + 1}"></a>
                            </li>
                            <li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                                <a class="page-link" th:href="@{/admin/user?page=} + ${currentPage + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
        <!-- Recent Sales End -->

    </div>
    <!-- Content End -->

    <!-- Delete Modal HTML -->
    <div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:action="@{/admin/user/delete}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Product</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record?</p>
                        <input class="form-control" id="userID" name="userID">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/admin/lib/chart/chart.min.js}"></script>
<script th:src="@{/admin/lib/easing/easing.min.js}"></script>
<script th:src="@{/admin/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/admin/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/admin/js/main.js}"></script>
<script>
    $(document).ready(function () {
        $('.delete').click(function () {
            var userID = $(this).data('user-id');
            $('#userID').val(userID);
        });
    });
</script>
</body>

</html>